<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Virtual Rendez-Vous</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}">
        <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
        <link rel="stylesheet" href="{% static 'css/friends.css' %}">
        <link rel="stylesheet" href="{% static 'css/meet_someone.css' %}">
        <script src="https://kit.fontawesome.com/6f3d5e0865.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" height="70px"></a></li>
                <li><a href="{% url 'meet_someone:index' %}">Meet Someone</a></li>
                <li><a href="{% url 'friends:index' %}">Friends</a></li>
                <li><a href="{% url 'my_groups:index' %}">My Groups</a></li>
                <li><a href="{% url 'my_profile:index' %}">My Profile</a></li>
                <li><a href="{% url 'help:index' %}">Help</a></li>
                <li><a href=""><i class="fas fa-cog"></i></a></li>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>