<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Virtual Rendez-Vous</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}">
        <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
        <link rel="stylesheet" href="{% static 'css/friends.css' %}">
        <link rel="stylesheet" href="{% static 'css/meet_someone.css' %}">
        <link rel="stylesheet" href="{% static 'css/help.css' %}">
        <link rel="stylesheet" href="{% static 'css/my_profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/my_groups.css' %}">
        <link rel="stylesheet" href="{% static 'css/settings.css' %}">
        <script src="https://kit.fontawesome.com/6f3d5e0865.js" crossorigin="anonymous"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" height="70px"></a></li>
                <li><a href="{% url 'meet_someone:index' %}">Meet Someone</a></li>
                <li><a href="{% url 'friends:index' %}">Friends</a></li>
                <li><a href="{% url 'my_groups:index' %}">My Groups</a></li>
                <li><a href="{% url 'my_profile:index' %}">My Profile</a></li>
                <li><a href="{% url 'help:index' %}">Help</a></li>
                <li><a href="{% url 'settings:index' %}"><i class="fas fa-cog"></i></a></li>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>